.App-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "Barlow", sans-serif;
}

.App-header {
  background-color: red;
  color: white;
  height: 50px;
  padding: 5px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  font-family: "Barlow", sans-serif;
}
